.card-dekstop{
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;}
aside-dekstop {
  float: left;
  width: 20%;
  margin-left: 40px;
}

.container-dekstop {
  float: right;
  width: 70%;
  margin-right: 40px;
}
body { background: rgb(220, 248, 255) !important; }
